.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

/* All buttons and input have same height */
.pagination-container button,
.goto-box input {
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 0 12px;
  font-size: 14px;
  text-align: center;
  transition: 0.2s;
}

/* Button styling */
.pagination-container button {
  background: #ff9800;
  color: #121212;
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  opacity: 0.85;
}

/* Input styling */
.goto-box {
  display: flex;
  gap: 6px;
  align-items: center;
}

.goto-box input {
  width: 60px;
  border: 1px solid #ccc;
  padding: 0 8px;
}

.goto-box button {
  background: #f4b400;
  color: #121212;
}

.goto-box button:hover {
  opacity: 0.85;
}